USE [LocalTestDB]
GO
/****** Object:  Table [dbo].[DimAccounts]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAccounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNo] [varbinary](max) NOT NULL,
	[AccountNoHash] [varbinary](64) NOT NULL,
	[EntityId] [int] NULL,
	[AccountType] [nvarchar](max) NULL,
	[FirstHolderId] [int] NULL,
	[JointHolder1Id] [int] NULL,
	[JointHolder2Id] [int] NULL,
	[OperationType] [nvarchar](max) NULL,
	[FirstHolderAddress] [varbinary](max) NULL,
	[Nominee1Id] [int] NULL,
	[Nominee2Id] [int] NULL,
	[CIF] [varbinary](max) NULL,
	[MinimumBalance] [decimal](18, 2) NULL,
	[OpenYear] [varbinary](max) NULL,
	[ChequeBookCount] [int] NULL,
	[EmailId] [varbinary](max) NULL,
	[ContactNo] [varbinary](max) NULL,
	[IsActive] [bit] NULL,
	[PassbookAvailable] [bit] NULL,
	[OnlineBankingAllowed] [bit] NULL,
	[OnlineLoginAvailable] [bit] NULL,
	[AadharLinked] [bit] NULL,
	[BrokersLinked] [bit] NULL,
	[Comments] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimEntities]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEntities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EntityNameHash] [varbinary](64) NOT NULL,
	[EntityName] [varbinary](max) NULL,
	[EntityBranch] [varbinary](max) NULL,
	[AddressLine1] [varbinary](max) NULL,
	[AddressLine2] [varbinary](max) NULL,
	[City] [varbinary](max) NULL,
	[PostCode] [varbinary](max) NULL,
	[Country] [varbinary](max) NULL,
	[CustomerCareEmailId] [varbinary](max) NULL,
	[CustomerCarePhoneNo] [varbinary](max) NULL,
	[CustomerCareWebsite] [varbinary](max) NULL,
	[IFSC] [varbinary](max) NULL,
	[MICR] [varbinary](max) NULL,
	[SWIFT] [varbinary](max) NULL,
	[IBAN] [varbinary](max) NULL,
	[EntityType] [varchar](5) NULL,
	[IsOnline] [bit] NULL,
	[RegistrarId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMutualFunds]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMutualFunds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISINFolioHolderHash] [varbinary](64) NOT NULL,
	[FolioNo] [varbinary](max) NOT NULL,
	[SchemeName] [varbinary](max) NOT NULL,
	[ISIN] [varbinary](max) NOT NULL,
	[SchemeCode] [varbinary](max) NOT NULL,
	[SchemeCategory] [varbinary](max) NOT NULL,
	[FirstHolderId] [int] NOT NULL,
	[JointHolder1Id] [int] NULL,
	[JointHolder2Id] [int] NULL,
	[Nominee1Id] [int] NULL,
	[Nominee2Id] [int] NULL,
	[OperationMode] [nvarchar](20) NULL,
	[TotalUnitsBought] [decimal](11, 4) NOT NULL,
	[TotalUnitsSold] [decimal](11, 4) NOT NULL,
	[TotalUnitsHeld] [decimal](11, 4) NOT NULL,
	[TotalInvestedAmount] [decimal](11, 2) NOT NULL,
	[TotalRedeemedAmount] [decimal](11, 2) NOT NULL,
	[TotalDividendReceived] [decimal](11, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LinkedEntityId] [int] NOT NULL,
	[IsDividend] [bit] NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[IsDemat] [bit] NOT NULL,
	[Comments] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUsers]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserNameHash] [varbinary](64) NOT NULL,
	[Gender] [char](1) NULL,
	[Age] [int] NULL,
	[FatherId] [int] NULL,
	[MotherId] [int] NULL,
	[SpouseId] [int] NULL,
	[MaritalStatus] [char](1) NULL,
	[IsExpired] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimUsers_UserNameHash] UNIQUE NONCLUSTERED 
(
	[UserNameHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUsers_S]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUsers_S](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [varbinary](max) NULL,
	[LastName] [varbinary](max) NULL,
	[BirthDate] [varbinary](max) NULL,
	[BirthCity] [varbinary](max) NULL,
	[BirthCountry] [varbinary](max) NULL,
	[MarriageDate] [varbinary](max) NULL,
	[CurrentAddressLine1] [varbinary](max) NULL,
	[CurrentAddressLine2] [varbinary](max) NULL,
	[CurrentCity] [varbinary](max) NULL,
	[CurrentPostCode] [varbinary](max) NULL,
	[CurrentCountry] [varbinary](max) NULL,
	[PermanentAddressLine1] [varbinary](max) NULL,
	[PermanentAddressLine2] [varbinary](max) NULL,
	[PermanentCity] [varbinary](max) NULL,
	[PermanentPostCode] [varbinary](max) NULL,
	[PermanentCountry] [varbinary](max) NULL,
	[ContactEmailId] [varbinary](max) NULL,
	[ContactMobileNo] [varbinary](max) NULL,
	[ContactPhoneNo] [varbinary](max) NULL,
	[WorkEmailId] [varbinary](max) NULL,
	[WorkMobileNo] [varbinary](max) NULL,
	[WorkPhoneNo] [varbinary](max) NULL,
	[ExpiredDate] [varbinary](max) NULL,
	[PAN] [varbinary](max) NULL,
	[Aadhar] [varbinary](max) NULL,
	[TIN] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactAccountBrokerMappings]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactAccountBrokerMappings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[BrokerId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactAliases]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactAliases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [varchar](50) NULL,
	[RecordId] [int] NULL,
	[AliasName] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactDeposits]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDeposits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepositNo] [varbinary](max) NOT NULL,
	[DepositNoHash] [nvarchar](64) NOT NULL,
	[EntityId] [int] NOT NULL,
	[LinkedAccountId] [int] NULL,
	[FirstHolderId] [int] NOT NULL,
	[JointHolder1Id] [int] NULL,
	[JointHolder2Id] [int] NULL,
	[OperationType] [nvarchar](10) NOT NULL,
	[Nominee1Id] [int] NULL,
	[Nominee2Id] [int] NULL,
	[InvestedAmount] [decimal](11, 2) NOT NULL,
	[InterestRate] [decimal](4, 2) NOT NULL,
	[StartDate] [datetime] NULL,
	[ExpectedMaturityDate] [datetime] NULL,
	[PeriodYears] [int] NOT NULL,
	[PeriodMonths] [int] NOT NULL,
	[PeriodDays] [int] NOT NULL,
	[ExpectedMaturityAmount] [decimal](11, 2) NOT NULL,
	[ExpectedInterestAmount] [decimal](11, 2) NOT NULL,
	[ActualInterestAmount] [decimal](11, 2) NOT NULL,
	[ActualMaturityDate] [datetime] NULL,
	[ActualMaturityAmount] [decimal](11, 2) NOT NULL,
	[DepositCurrency] [nvarchar](10) NOT NULL,
	[DepositType] [nvarchar](10) NOT NULL,
	[InterestPaymentFrequency] [nvarchar](10) NOT NULL,
	[DepositPaymentFrequency] [nvarchar](10) NOT NULL,
	[ClosureType] [nvarchar](10) NULL,
	[IsBookedOnline] [bit] NOT NULL,
	[IsAutoRenewable] [bit] NOT NULL,
	[IsRenewed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPrematureWithdrawal] [bit] NOT NULL,
	[BrokerId] [int] NULL,
	[Comments] [varbinary](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactMutualFundTransactions]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactMutualFundTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FundId] [int] NOT NULL,
	[TransactionOrderHash] [varbinary](64) NULL,
	[Exchange] [nvarchar](10) NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TransactionType] [nvarchar](10) NOT NULL,
	[RealizedAmount] [decimal](11, 2) NOT NULL,
	[TransactionAmount] [decimal](11, 2) NOT NULL,
	[TransactionNAV] [decimal](11, 4) NOT NULL,
	[TransactionUnits] [decimal](11, 4) NOT NULL,
	[TransactionSTT] [decimal](11, 2) NOT NULL,
	[TransactionTDS] [decimal](11, 2) NOT NULL,
	[TransactionStampDuty] [decimal](11, 2) NOT NULL,
	[BrokerId] [int] NOT NULL,
	[OrderId] [varbinary](max) NULL,
	[TradeId] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOtherContacts]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOtherContacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordType] [varchar](50) NULL,
	[ContactType] [varchar](50) NULL,
	[RecordId] [int] NULL,
	[ContactValue] [varbinary](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactStockTransactions]    Script Date: 7/2/2026 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactStockTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TradeOrderHash] [varbinary](64) NULL,
	[HolderId] [int] NOT NULL,
	[Symbol] [varbinary](max) NOT NULL,
	[ISIN] [varbinary](max) NOT NULL,
	[Exchange] [nvarchar](10) NULL,
	[TradeDate] [datetime] NOT NULL,
	[TradeType] [nvarchar](10) NOT NULL,
	[TradeAmount] [decimal](11, 2) NOT NULL,
	[TradePrice] [decimal](11, 2) NOT NULL,
	[TradeQuantity] [decimal](11, 2) NOT NULL,
	[NomineeId] [int] NOT NULL,
	[LinkedEntityId] [int] NOT NULL,
	[BrokerId] [int] NOT NULL,
	[OrderId] [varbinary](max) NULL,
	[TradeId] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimUsers_S]  WITH CHECK ADD  CONSTRAINT [FK_DimUsers_S_DimUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[DimUsers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimUsers_S] CHECK CONSTRAINT [FK_DimUsers_S_DimUsers]
GO
